.main-wrap{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 130px;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 52px;
    row-gap: 100px;
    flex-direction: column;
}

.category-wrap{
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    row-gap: 20px;

}

@media screen and (max-width: 1199px) {
    .main-wrap {
        max-width: 992px;
        column-gap: 105px;
    }
}

@media screen and (max-width: 992px) {
    .main-wrap  {
        max-width: 767px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 767px) {
    .main-wrap  {
        max-width: 576px;
        justify-content: center;
    }
}

@media screen and (max-width: 576px) {
    
    .main-wrap  {
        max-width: 350px;
    }
    .category-wrap{
        padding-left: 10px;
        padding-right: 10px;
    
    }
}