
.cart-item-img{
    width: 70px;
}

.cart-item-info {
    width: 70%;
    padding: 10px;
}

.cart-item-controls{
    display: flex;

    width: 100%;
    align-items: center;
    justify-content: space-between;
    img{
        width: 20px;
        cursor: pointer;
    }
}

.cart-item {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}


@media screen and (max-width: 576px) {
    .cart-item{
        flex-direction: column;
    }
    .cart-item-info{
        width: 100%;
        padding: 0;
    }
}