.footer{
    width: 100%;
    //shadow
    background: rgba(255, 255, 255, 0.70);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.02);
    backdrop-filter: blur(2.5px);
}

.footer-wrap{
    display: flex;
    max-width: 1200px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto !important;
    padding-top: 5px !important;
    li{
        font-size: 14px;
        font-weight: 700;
        color: #8c8c8c;
        cursor: pointer;
    }
}

@media screen and (max-width: 1199px) {
    .footer-wrap {
        max-width: 992px;
    }
}

@media screen and (max-width: 992px) {
    .footer-wrap  {
        max-width: 767px;
    }
}

@media screen and (max-width: 767px) {
    .footer-wrap  {
        max-width: 576px;
    }
}

@media screen and (max-width: 576px) {
    .footer-wrap  {
        max-width: 300px;
        flex-wrap: wrap;
        justify-content:center;
        li{
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}