.search {
    width: 100%;
    display: flex;
    border-radius: 30px;
    border: 1px solid #000;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    column-gap: 30px;
    margin-bottom: 20px;
    input {
        width: inherit;
        border: none;
        background-color: inherit;
        outline: none;
        font-size: 20px;
    }


}

.search-img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 40px;
    background: #FBFBFB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    img {
        width: 20px;
    }
}

.search-img:active{
    transform: scale(0.97);
}