.welcome-page-wrap{
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/img/back.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.welcome-page-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    a{
        text-decoration: underline;
        size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .welcome-page-logo{
        img{
            width: 150px;
        }
    }
}