@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html{
    background-color: #f0f0f0;
}
/* Сброс стилей */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
}

/* HTML5 элементы, добавленные недавно */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Определение ссылок цветом */
a {
  color: inherit;
  text-decoration: none;
}

/* Устранение стиля для ненумерованных списков */
ol, ul {
  list-style: none;
}

/* Устранение стиля для элемента блока-цитаты */
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* Установка стандартных размеров таблицы */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Стилизация select */
select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

option {
  font-size: 16px;
  padding: 5px;
  background-color: #f0f0f0;
  color: #333;
}

/* Стилизация при наведении на option */
option:hover {
  background-color: #ddd;
  cursor: pointer;
}

/* Скрытие стандартной стрелки выбора в Firefox */
select::-moz-focus-inner {
  border: 0;
}

/* Изменение стиля при фокусе на select */
select:focus {
  outline: none;
  border: 2px solid #b1b1b1; /* Измените цвет на свой вкус */
}

