@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html{
    background-color: #f7f7f7;
}
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Стилизация select */
select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

option {
  font-size: 16px;
  padding: 5px;
  background-color: #f0f0f0;
  color: #333;
}

/* Стилизация при наведении на option */
option:hover {
  background-color: #ddd;
  cursor: pointer;
}

/* Скрытие стандартной стрелки выбора в Firefox */
select::-moz-focus-inner {
  border: 0;
}

/* Изменение стиля при фокусе на select */
select:focus {
  outline: none;
  border: 1px solid #b1b1b1; /* Измените цвет на свой вкус */
}

a {
  text-decoration: none;
  color: #8c8c8c;
}

/* Стилизация скроллбара */
/* Общие стили для скроллбара */
::-webkit-scrollbar {
  width: 10px; /* Ширина скроллбара */
}

/* Стилизация ползунка скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #8c8c8c; /* Цвет фона ползунка */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px; /* Скругленные углы */
}
::-webkit-scrollbar-thumb:hover {
  background-color: #8c8c8c; /* Цвет фона ползунка */
}

/* Опциональная стилизация трека (бара, по которому перемещается ползунок) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Цвет фона трека */
}


@media screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 0px; /* Ширина скроллбара */
  }
}