.overlay{
    position: fixed;
    display: block;
    overflow-y: auto;
    transition: 0.2s ease-in;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 999;
    flex-direction: column;
}

.close-icon{
    width: 45px;
    cursor: pointer;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 10px;
}

.detailed-item-galery{
    width: 50%;
}

.detailed-image{
    width: 100%;
    border-radius: 10px;
    background-size: cover;
}

.detailed-item-galery-photo{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.detailed-image-miniature{
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
}

.detailed-item-block{
    display: flex;
    padding-top: 50px;
    max-width: 1200px;
    margin: 0 auto;
    column-gap: 100px;
}

.detailed-info-block{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.detailed-item-header{
    margin-top: 50px;
    font-weight: 700;
    font-size: 24px;
}

.detailed-item-price{
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;
}

.detailed-item-description{
    margin-top: 20px;
    text-align: left;
}

.buy-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    // background: linear-gradient(to right, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
    background-color: #000;
}

.buy-button:active {
    transform: scale(0.95);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 1250px) {
    .detailed-item-block{
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .detailed-item-description {
        margin-bottom: 30px;
    }
    .detailed-info-block{
        margin-left: 0px;
        width: 70%;
    }
    .detailed-item-galery{
        width: 70%;
    }

}

@media screen and (max-width: 576px) {
    .detailed-image-miniature{
        width: 80px;
    }
    .detailed-info-block{
        margin-left: 0px;
        width: 90%;
    }
    .detailed-item-galery{
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    .detailed-image-miniature{
        width: 60px;
    }
}
