.overlay{
    position: fixed;
    transition: 0.3s ease-in-out;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    z-index: 999;
    flex-direction: column;
}

.close-icon{
    width: 45px;
    cursor: pointer;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 10px;
}

.detailed-image{
    max-width: 100%;
    height: 70%;
}

.detailed-item-galery-photo{
    display: flex;
    justify-content: space-between;
}

.detailed-image-miniature{
    width: 100px;
    cursor: pointer;
}

.detailed-item-block{
    display: flex;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.detailed-info-block{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.detailed-item-header{
    margin-top: 50px;
    font-weight: 700;
    font-size: 24px;
}

.detailed-item-price{
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;
}

.detailed-item-description{
    margin-top: 20px;
    text-align: left;
}

.buy-button{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    background-color: #5fd085;
}

@media screen and (max-width: 1023px) {
    .detailed-item-block{
        display: flex;
        height: 100%;
        max-width: 1200px;
        margin: 0 auto;
        flex-direction: column;
    }
    .detailed-image{
        width: 100%;
    }
}